doctype html
html(lang="en")
	head
		title= title
		script(src='/js/jquery.js')
		link(href='/css/bootstrap.min.css', rel="stylesheet")
		link(href='/css/bootstrap-theme.min.css', rel="stylesheet")
		link(href='/css/style.css', rel="stylesheet")
		script(src='/js/bootstrap.min.js')
		block header
	body(style="background: #ccc;")
		div(id="NotificationJS", style="display: none;")
		block content

	script(src='/js/notification.js')