extends main

block header
	

block content
	div(class='center-block thumbnail box-login')
		span(class='label label-info') Login
		form(class='center-block form', method='POST')
			input(class='form-control', placeholder='Username', name='username', value='#{request.body.username?request.body.username:""}')
			input(class='form-control', placeholder='Password', name='password', type='password', value='#{request.body.password?request.body.password:""}')
			div(style='text-align: right;')
				input(class='btn btn-info', type='submit')
		if(error)
			span(class='label label-warning center-block') #{error}